# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# local environment settings
.local

# logs
logs
*.log
logs/**/*.log

# coverage
coverage
*.lcov

# IDE specific files
.vscode/
.idea/
*.swp

# macOS specific files
.DS_Store

# Linux specific files
*~

# Windows specific files
Thumbs.db
desktop.ini